<%- include('../../layouts/header'); -%>
<div class="wapper">
<%- include('../../layouts/left'); -%>
    <div class="container_mid">
        <%- include('../../layouts/search'); -%>
        <div class="zz">
            <div class="tieude_giua"><%=content.ten_vi%></div>
			<div class="content"><%-content.noidung_vi%></div>
        </div>
    </div>
<%- include('../../layouts/right'); -%>
<div class="clear"></div>
</div>
<%- include('../../layouts/footer'); -%>
