<%- include('../../layouts/header'); -%>
<div class="wapper">
    <%- include('../../layouts/left'); -%>
    <div class="container_mid">
        <%- include('../../layouts/search'); -%>
        <div class="noidung">
            <div class="box_container">
                <div class="success">
                    <div class="images">
                        <img src="images/icon_success.png" class="img-responsive" alt="đặt hàng thành công" />
                    </div>
                    <a href="#"><div class="title">Đặt hàng thành công</div>
                        <b>Cảm ơn anh/chị đã cho Simcuatui.com cơ hội được phục vụ</b> <br /></a>
                </div>
            </div><!--.box_container-->
            <div class="clear"></div>
        </div>
    </div>
    <%- include('../../layouts/right'); -%>
    <div class="clear"></div>
</div>
<%- include('../../layouts/footer'); -%>